<%@page_title ||= "提现管理"%>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<%= form_for @data, url: admin_withdraw_path(@data), :html=>{:multipart=>true} do |f| %>
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputEmail1">用户</label>
						<p class="form-control"><%= @data.user.try(:name)%></p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">当前余额</label>
						<p class="form-control"><%= @data.user.wallet.try(:balance)%></p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">提现金额</label>
						<p class="form-control"><%= @data.amount%></p>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit" onclick="return confirm('确认处理吗？操作不可逆！');">处理</button>
				</div>
			<% end %>
		</div>
	</div>
</div>






















