<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>搜索</span>
  </div>
  <div class="chaos-panel-body no-padding">
    <%= form_tag search_path, method: :get, class: 'chaos-form' do %>
      <div class="chaos-form-inline">
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">关键词</label>
          <div class="chaos-form-item">
            <%= text_field_tag :keywords %>
          </div>
        </div>
      </div>
      <div class="chaos-button-row">
        <%= submit_tag '提交', class: 'btn btn-danger' %>
        <input type="reset" value="重置" class="btn" />
      </div>
    <% end %>
  </div>
</div>