<style>
body{background: #E6E6E6;}
.recommend_box{margin-top: 5px;}
.recommend_box .name{line-height: 30px; margin-top: 10px; font-size: 16px; font-weight: bold;}
.recommend_box .price{line-height: 30px; margin-top: 10px; color: red; float: right; font-size: 16px; font-weight: bold;}

.index_nav{margin: auto auto auto auto; border-bottom: solid 10px #E6E6E6; background: white; padding-top: 20px;}
.index_nav a{margin-bottom: 20px; display: block;}
.index_nav a img{width: 49px; height: 50px;}

.recommends .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 25px;
  margin: auto;
  text-align: center;
  width: 100px;
}
.recommends .body{margin-bottom: 10px;}
.recommends .body table{margin: auto auto;}
.recommends .body table td{background: white; text-align: center;}
.recommends .old_price{color: #DDDDDD; text-decoration: line-through;}
.price{color: red; margin: 0px;}
.desc{color: #8C8C8C; text-align: left; padding: 5px; margin: 0px;}

.products{width: 100%; background: #E6E6E6;}
.products .title{
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.products .body{background: #E6E6E6;}
.products .body .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
  background: white;
}
.products .body .product_box:nth-child(even){
  float: right;
}
.products .body .product_box img{margin: 10px auto 20px auto;}

.company_desc{margin-top: 20px; background: white;}
.company_desc .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.company_desc .body{line-height: 40px; color: #999999; padding: 5px;}
.company_desc .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}

.quality{margin-top: 20px; background: white;}
.quality .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body{width: 95%; margin: auto auto; margin: 20px auto 20px auto; border-bottom: dashed 1px #DDDDDD; text-align: center;}
.quality .body:last-child{border-bottom: none;}
.quality .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body .icon{margin: auto auto;}
.quality .body .more{display: block; margin: 10px auto 20px auto; text-align: center;}

.content{padding: 12px;}
</style>

<div class="content">
  <%=raw SingleArticle.where(key: "about").first.try(:content)%>
</div>

