<%@title = "切换地区"%>

<style type="text/css" media="screen">
.switch_btn{display: none;}
.area{margin: 20px auto auto 12px;}
.area .title{font-size: 16px; font-weight: bold;}
.area .agents a{padding: 12px; display: inline-block;}
.area .agents a:first-child{padding-left: 24px;}
.area .agents a.disabled{color: #999999;}
</style>

<div class="area">
  <div class="title">
    北京
  </div>
  <div class="agents">
    <a href="/agents">朝批商贸</a>
    <a href="/agents/index2">天菜商贸</a>
  </div>
</div>
<div class="area">
  <div class="title">
    天津
  </div>
</div>
<div class="area">
  <div class="title">
    深圳
  </div>
</div>
<div class="area">
  <div class="title">
    重庆市
  </div>
</div>
<div class="area">
  <div class="title">
    上海市
  </div>
</div>
<div class="area">
  <div class="title">
    河北省
  </div>
</div>
<div class="area">
  <div class="title">
    山西省
  </div>
</div>
<div class="area">
  <div class="title">
    辽宁省
  </div>
</div>
<div class="area">
  <div class="title">
    吉林省
  </div>
</div>

<div class="area">
  <div class="title">
    黑龙江省
  </div>
</div>

<div class="area">
  <div class="title">
    江苏省
  </div>
</div>

<div class="area">
  <div class="title">
    浙江省
  </div>
</div>
<div class="area">
  <div class="title">
    安徽省
  </div>
</div>
<div class="area">
  <div class="title">
    福建省
  </div>
</div>
<div class="area">
  <div class="title">
    江西省
  </div>
</div>
<div class="area">
  <div class="title">
    山东省
  </div>
</div>

<div class="area">
  <div class="title">
    河南省
  </div>
</div>
<div class="area">
  <div class="title">
    湖北省
  </div>
</div>
<div class="area">
  <div class="title">
    湖南省
  </div>
</div>
<div class="area">
  <div class="title">
    广东省
  </div>
</div>
<div class="area">
  <div class="title">
    海南省
  </div>
</div>
<div class="area">
  <div class="title">
    四川省
  </div>
</div>
<div class="area">
  <div class="title">
    贵州省
  </div>
</div>
<div class="area">
  <div class="title">
    云南省
  </div>
</div>

<div class="area">
  <div class="title">
    陕西省
  </div>
</div>
<div class="area">
  <div class="title">
    甘肃省
  </div>
</div>
<div class="area">
  <div class="title">
    青海省
  </div>
</div>
<div class="area">
  <div class="title">
    台湾省
  </div>
</div>
<div class="area">
  <div class="title">
    内蒙古自治区
  </div>
</div>
<div class="area">
  <div class="title">
    广西壮族自治区
  </div>
</div>
<div class="area">
  <div class="title">
    西藏自治区
  </div>
</div>
<div class="area">
  <div class="title">
    西藏自治区
  </div>
</div>
<div class="area">
  <div class="title">
    宁夏回族自治区
  </div>
</div>

<div class="area">
  <div class="title">
    新疆维吾尔自治区
  </div>
</div>
