<%@title = "切换地区"%>

<style type="text/css" media="screen">
.area{margin: 20px auto auto 12px;}
.area .title{font-size: 16px; font-weight: bold;}
.area .agents a{padding: 12px; display: inline-block;}
.area .agents a:first-child{padding-left: 24px;}
.area .agents a.disabled{color: #999999;}
</style>

<div class="area">
  <div class="title">
    北京
  </div>
  <div class="agents">
    <a href="/agents">朝批商贸</a>
    <a href="#" class="disabled">辽宁代理商</a>
  </div>
</div>
<div class="area">
  <div class="title">
    天津
  </div>
</div>
<div class="area">
  <div class="title">
    深圳
  </div>
</div>