<%@page_title ||= "代金卷模板管理"%>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<%= form_for @data, url: admin_coupon_template_path(@data), :html=>{:multipart=>true} do |f| %>
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputEmail1">名称</label>
						<%= f.text_field :name, class: 'form-control'%>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">价格</label>
						<%= f.text_field :price, class: 'form-control'%>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">保存</button>
				</div>
			<% end %>
		</div>
	</div>
</div>






















