<style type="text/css" media="screen">
  .nav_link{width: 95%; padding-left: 12px;  background: url(/images/member_index_more_icon.jpg) no-repeat 95% 14px;}
  .nav_link a{width: 100%; line-height: 42px; display: block; color: #82B770; font-weight: bold; border-bottom: solid 1px #F8F8F8;}
  .order_links{width: 100%; line-height: 64px; border-bottom: solid 13px #E3E3E3;}
  .order_links table tr td{text-align: center;}
  .order_links table tr td a{width: 100%; line-height: 58px; display: block; color: #999999; font-size: 12px; font-weight: none; padding-top: 10px;}
  .order_links table tr td .link_1{background: url(/images/member_index_order_icon1.jpg) no-repeat; background-position: 50% 10px;}
  .order_links table tr td .link_2{background: url(/images/member_index_order_icon3.jpg) no-repeat; background-position: 50% 10px;}
  .order_links table tr td .link_3{background: url(/images/member_index_order_icon4.png) no-repeat; background-position: 50% 10px;}
  .order_links table tr td .link_4{background: url(/images/member_index_order_icon2.jpg) no-repeat; background-position: 50% 10px;}
  
  .nav_link .distribution{width: 94%; background: url(/images/member_index_distribution_icon.jpg) no-repeat 0px 7px; padding-left: 25px;}
  .nav_link .address{width: 94%; background: url(/images/member_index_address_icon.jpg) no-repeat 0px 7px; padding-left: 25px;}
  .nav_link .qrcode{width: 94%; background: url(/images/member_index_qrcode_icon.jpg) no-repeat 0px 7px; padding-left: 25px;}
</style>

<div class="my_header">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="124px">
        <img src="<%= current_user.headimgurl%>" style="width: 100px; margin-left: 12px" />
      </td>
      <td>
        <p style="font-size: 14px; color: #999999">余额：<%= current_user.balance%></p>
        <p style="font-size: 14px; color: #999999">积分：<%= current_user.score%></p>
      </td>
    </tr>
  </table>
</div>

<div class="nav_link">
  <a href="/member/orders">我的订单</a>
</div>

<div class="order_links">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <a href="/member/orders/?state=create&title=待付款" class="link_1">待付款</a>
      </td>
      <td>
        <a href="/member/orders/?state=payment&title=待发货" class="link_2">待发货</a>
      </td>
      <td>
        <a href="/member/orders/?state=sent&title=已发货" class="link_3">已发货</a>
      </td>
      <td>
        <a href="/member/orders/?state=receive&title=已收货" class="link_4">已收货</a>
      </td>
    </tr>
  </table>
</div>

<div class="nav_link">
  <%if current_user.is_distribution?%>
    <a class="distribution" href="/member/distributions">我的分销</a>
  <%else%>
    <a class="distribution" href="#">我的分销<span style="color: red">（首次购物后自动开通分销功能）</span></a>
  <%end%>
</div>

<div class="nav_link">
  <a class="address" href="/shippin_address">地址管理</a>
</div>

<div class="nav_link">
  <a class="address" href="/member/wallets/new">会员充值</a>
</div>

<div class="nav_link">
  <a class="qrcode" href="/member/distributions/qrcode">我的二维码</a>
</div>