<%@title = params[:title]||"选择支付方式"%>
<style type="text/css" media="screen">
body{background: #e6e6e6;}
.pay_method_a{width: 95%; height: 125px; display: block; margin: 12px auto auto auto; padding-top: 100px;}
.pay_method_a img{width: 30px; margin: auto; display: block;}
.pay_method_a p{padding: 10; margin: 0; text-align: center; color: #82b770;}
</style>


<%if params[:item_type] != "Recharge"%>
<a class="pay_method_a" href="<%= member_payments_path(item_type: params[:item_type], item_id: params[:item_id], category: 'wallet')%>">
  <img src="/images/member_payment_pay_method_icon_1.jpg" />
  <p>余额支付</p>
</a>
<%end%>

<a class="pay_method_a" href="<%= member_payments_path(item_type: params[:item_type], item_id: params[:item_id], category: 'wechat')%>">
  <img src="/images/member_payment_pay_method_icon_2.png" />
  <p>微信支付</p>
</a>

<%if flash[:notice]%>
  <script type="text/javascript">
    alert('<%= flash[:notice]%>');
  </script>
<%end%>