<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">基本信息</a></li>
  <li role="presentation"><a href="<%= admin_product_product_logos_path(@data)%>">商品图片</a></li>
</ul>
<br>

<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<%= render :partial => 'form', :locals => { :product => @data }  %>
		</div> 
	</div> 
</div>

